*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'poppins';
    user-select: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    height: 70px;
    width: 250px;
    margin: 0 30px;
    font-size: 25px;
    color: #619bd8;
    background: #ebf5fc;
    border: none;
    outline: none;
    border-radius: 50px;

}
.btn1{
    box-shadow: -6px -6px 10px -4px rgba(255,255,255,0.8),6px 6px 10px rgba(0,0,0,0.2);
}

.btn2{
    box-shadow: -6px -6px 10px -4px rgba(255,255,255,0.5),inset 8px 8px 16px rgba(0,0,0,0.1);
}
.btn1:focus{
   font-size: 24px; 
   box-shadow: inset -4px -4px 8px rgba(255,255,255,0.5),
   inset 8px 8px 16px rgba(0,0,0,0.1);
}
.btn2:focus{
    font-size: 25px; 
    box-shadow: -6px -6px 10px -4px rgba(255,255,255,0.8),6px 6px 10px rgba(0,0,0,0.2);
    
 }